<%= form_with(model: statement) do |form| %>
  <% if statement.errors.any? %>
    <div class="row">
      <div class="col">
        <div class="alert alert-danger fade show" role="alert">
          <div class="d-flex justify-content-between">
            <h5><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h5>
            <button type="button" class="btn-close d-block" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <ul>
            <% statement.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col">
      <%= form.text_area :body, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
