<%= form_with(model: statement) do |form| %>
  <% if statement.errors.any? %>
    <div class="row mb-3">
      <div class="col">
        <div id="error_explanation">
          <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

          <ul>
            <% statement.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col">
      <%= form.text_area :body, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
